{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}


<!--IF YOU DON'T KNOW WHAT HTML CONTENT IS,
TRY ASKING CHATGPT :
  1.What types of elements can be added to a website?
  2.How do I add text, buttons, images, and other elements to a website?
  3.What are id and class attributes, and how are they added to website elements?
     or
  4.Create a div that says "Click Me" that opens an
    alert when clicked that displays "Hello World!". And make it a my-bob
    class element.

-->

<!--ADD YOUR HTML CONTENT HERE-->
<div class="my-bob" onclick="alert('Hello World!')">Click Me</div>










<!--DON'T CHANGE ANYTHING BELOW THIS LINE-->
{% endblock %}
