<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <!-- make a div that has a username and password prompt and an enter button  -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Enter username and password</h1><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form action="home">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username"><br><br>
                        <label for="password">Password: </label>
                        <input type="password" id="password" name="password"><br><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
